.main{
  background-color: #F8F8F8;
}
.content,
.logo-svg{
  margin: 0;
  padding: 0;
}
.main1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.content{
  text-align: left;
  line-height: 1.1em;
  font-size: 3.5em;
  font-style: bold;
}

.container{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 95%;
  align-items: center;
  margin-top: 8em;
}

.text{
  background-color: #EAA334;
  width: 50%;
  color: #F8F8F8;
  text-align: center;
  height: 100%;
  text-align: left;
  padding-left: 8em;
  padding-top: 6em;
  span{
    font-size: 6em;
    line-height: 1em;
  }
}

.imageContainer{
  color: #EAA334;
  width: 50%;
  height: 100%;
  margin-left: 2em;
  padding-top: 6em;
  .image{
    margin-bottom: 3em;
  }
}
