<ng-container>
  <div class="example-container">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput placeholder="Apellidos">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

  </div>
</ng-container>
