<footer class="footer">
  <div class="inner">
    <div class="container">
      <div class="logo">
        <img
          src="assets/logo-hello-world-white.svg"
          alt="Hello World!"
          width="74px"
          height="98px"
        />
      </div>
      <div class="footer_navigation">
        <nav></nav>

        <div class="nav--footer_social">
          <div class="nav--footer_social-box">
            <span class="seguirLbl">Sigue a Hello, World!</span>
            <ul class="nav--footer_social-list">
              <li>
                <a
                  href="https://www.linkedin.com/company/helloworld-software-school/"
                  target="_blank"
                  rel="noreferrer"
                  title="Ir a perfil de Linkedin de Hello, World!"
                  ><img

                    src="assets/social/ico-linkedin.svg"
                    alt="Linkedin"
                    width="35px"
                    height="35px"
                /></a>
              </li>
              <li  >
                <a

                  href="https://www.youtube.com/channel/UCowWqNSNAQZdoY5927ZbWgg"
                  target="_blank"
                  rel="noreferrer"
                  title="Ir a perfil de YouTube de Hello, World!"
                  ><img
                    src="assets/social/ico-youtube.svg"
                    alt="YouTube"
                    width="35px"
                    height="24px"
                    class="yt"
                /></a>
              </li>
              <li  >
                <a
                  href="https://www.facebook.com/HelloWorld-Software-School-109891648179577"
                  target="_blank"
                  rel="noreferrer"
                  title="Ir a perfil de Facebook de Hello, World!"
                  ><img
                    src="assets/social/ico-facebook.svg"
                    alt="Facebook"
                    width="18px"
                    height="35px"
                /></a>
              </li>
              <li  >
                <a
                  href="https://www.instagram.com/_hwschool/"
                  target="_blank"
                  rel="noreferrer"
                  title="Ir a perfil de Instagram de Hello, World!"
                  ><img
                    src="assets/social/ico-instagram.svg"
                    alt="Instagram"
                    width="35px"
                    height="35px"
                /></a>
              </li>
              <li  >
                <a
                  href="https://twitter.com/HWSchool1"
                  target="_blank"
                  rel="noreferrer"
                  title="Ir a perfil de Twitter de Hello, World!"
                  ><img
                    src="assets/social/ico-twitter.svg"
                    alt="Twitter"
                    width="35px"
                    height="35px"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
