@import 'mixins';

// MODAL
::ng-deep .modal{
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  overflow-y: auto;
  display: none;
  &.show{
    display: block;
    .modal--content{
      &.active{
        margin-top: 100px;
        @include opacity(1);
        @include transition(all 0.9s);
      }
    }
  }
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    display: block;
    z-index: 1;
    .icon-close{
      width: 100%;
      height: 100%;
      display: block;
      img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .modal--content{
    @include opacity(0);
    @include transition(all 0.9s);
    position: relative;
    max-width: 1140px;
    width: 100%;
    background: #FF5B34;
    margin: 50px auto 40px;
    padding: 60px 40px;
    &.modal--content-gradient{
      background: #D2277C;
      background: -moz-linear-gradient(-45deg,  #D2277C 0%, #FF5B34 100%);
      background: -webkit-linear-gradient(-45deg,  #D2277C 0%,#FF5B34 100%);
      background: linear-gradient(135deg,  #D2277C 0%,#FF5B34 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D2277C', endColorstr='#FF5B34',GradientType=1 );
    }
    &.modal--content-gradient02{
      background: var(--color_02);
      background: -moz-linear-gradient(-45deg,  var(--color_02) 0%, var(--color_01) 80%);
      background: -webkit-linear-gradient(-45deg,  var(--color_02) 0%,var(--color_01) 80%);
      background: linear-gradient(135deg,  var(--color_02) 0%,var(--color_01) 80%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color_02)', endColorstr='var(--color_01)',GradientType=1 );
    }
    .wysiwyg{
      margin: 40px 0;
      h2{
        font-size: 1.563em;
        margin: 0 0 20px;
        color: white;
      }
      p{
        font-size: 1em;
        font-family: 'vaglight';
        line-height: 1.5em;
        max-width: 100%;
        margin: 12px 0px 20px 0px;
        text-align: left;
        color: white;
        em{
          font-family: 'vagbold';
          color: var(--color_01);
        }
        + h2, + h3{
          margin-top: 20px;
        }
      }
      strong{
        font-family: 'vagbold';
      }
      ul{
        list-style-image: url("../assets/ico-bullet.svg");
        margin: 25px 0;
        li{
          font-size: 1em;
          font-family: 'vaglight';
          line-height: 1.5em;
          padding: 0 0 0 10px;
          margin-left: 25px;
          + li{
            margin-top: 10px;
          }
        }
      }
      ol{
        padding: 0;
        list-style-type: none;
        counter-reset: li;
        margin: 25px 0;
        li{
          font-size: 1em;
          font-family: 'vaglight';
          line-height: 1.5em;
          padding: 0 0 0 10px;
          margin-left: 25px;
          counter-increment: li;
          &:before{
            content: counter(li);
            color: var(--color_01);
            display: inline-block;
            font-family: 'vagbold';
            width: 28px;
            margin-left: -28px;
          }
          + li{
            margin-top: 10px;
          }
        }
      }
    }
    .title{
      display: block;
      line-height: 1.1em;
      font-size: 4.375em;
      color: white;
      text-align: center;
      font-family: 'vagbold';
    }
    p{
      line-height: 1.1em;
      color: white;
      font-size: 1.875em;
      max-width: 704px;
      width: 100%;
      margin: 20px auto 0;
      text-align: center;
      font-family: 'vaglight';
      + p{
        margin-top: 20px;
      }
    }
    .image{
      text-align: center;
      padding: 40px 0;
      > img{
        max-width: 160px;
        height: auto;
        display: block;
        margin: 0 auto 20px;
      }
      .lbl{
        display: block;
        line-height: 1.1em;
        color: white;
        font-size: 2.188em;
        font-family: 'vagbold';
      }
    }

    .group--checkboxes{
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      .field{
        width: 50%;
        padding: 0 0 30px 0;
        .container-checkbox{
          input[type="checkbox"] {
            position: relative;
            display: none;
            &:checked{
              + label{
                &:before {
                  background: white;
                }
              }
            }
          }
          label {
            padding: 0 0 0 40px;
            position: relative;
            display: block;
            color: white;
            font-family: 'vaglight';
            font-size: 1.250em;
            line-height: 1.1em;
            max-width: 470px;
            &:hover {
              cursor: pointer;
            }
            &:before {
              position: absolute;
              left: 0;
              top: 0;
              content: "";
              width: 20px;
              height: 20px;
              border: 2px solid white;
              display: block;
            }
          }
        }
      }
    }

    .group--radios{
      margin: 50px 0 40px;
      .container-radio{
        + .container-radio{
          margin: 20px 0 0;
        }
        input[type="radio"] {
          position: relative;
          display: none;
          &:checked{
            + label{
              &:after {
                background: white;
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 12px;
                height: 12px;
                display: block;
                margin: 6px;
                @include border-radius(100%);
              }
            }
          }
        }
        label {
          padding: 5px 0 0 35px;
          position: relative;
          display: block;
          color: white;
          font-family: 'vaglight';
          font-size: 1em;
          line-height: 1.1em;
          max-width: 100%;
          pointer-events: inherit;
          a{
            color: white;
            text-decoration: underline;
          }
          &:hover {
            cursor: pointer;
          }
          &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            width: 20px;
            height: 20px;
            border: 2px solid white;
            display: block;
            @include border-radius(100%);
          }
        }
      }
    }

    .btn{
      background: white;
      color: #FF5B34;
      margin: 0 auto;
    }
  }
}

//RWD
@media screen and (max-width: 970px){


}

@media screen and (max-width: 780px){

  .modal{
    .close{
      width: 30px;
      height: 30px;
    }
    &.show{
      .modal--content{
        &.active{
          margin-top: 0;
        }
      }
    }
    .modal--content{
      margin: 0 auto;
      padding: 80px 20px 40px;
      .title{
        font-size: 2em;
      }
      p{
        font-size: 1.1em;
      }
      .image{
        > img{
          max-width: 100px;
        }
        .lbl{
          font-size: 1.4em;
        }
      }

      .group--checkboxes{
        display: block;
        .field{
          width: 100%;
          padding: 0 0 30px 0;
          .container-checkbox{
            label {
              max-width: 100%;
            }
          }
        }
      }
    }
  }

}
