@font-face {
    font-family: 'vagblack';
    src: url('fonts/vagblackregular-webfont.woff2') format('woff2'),
         url('fonts/vagblackregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vagbold';
    src: url('fonts/vagbold-webfont.woff2') format('woff2'),
         url('fonts/vagbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vaglight';
    src: url('fonts/vaglightregular-webfont.woff2') format('woff2'),
         url('fonts/vaglightregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vagroundedregular';
    src: url('fonts/vagroundedregular-webfont.woff2') format('woff2'),
         url('fonts/vagroundedregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
