<app-header></app-header>

<div class = "div-banner">
  <h1>
    De qué va Hello, World
  </h1>
</div>
<div class = "div-resume">
  <p>
    Hello, World! es más que una academia, una escuela o un centro de estudios.
  </p>
  <p>
    Hello, World! es empezar de nuevo cuando creías que ya no podrías.
  </p>
  <p>
    Hello, World! es esa 2ª oportunidad que pensaste que ya no tendrías si no escogiste “bien” tu carrera profesional.
  </p>
  <p>
    Hello, World! es una nueva visión de cómo enseñar programación y desarrollo de Software.
  </p>

  <p>
    Todos los programadores de este mundo saben perfectamente qué significa Hello,World! y ya solo con eso y con nuestro logo, te puedes hacer una idea de que lo nuestro es enseñar a programar (coding 😉)
  </p>
  <p>
    Hello, World! es un concepto que porta la esencia de “esfuérzate, cree en ti y consigue trabajo en una de las profesiones con más proyección que existen”.
  </p>
  <p>
    Porque sí, es cierto, muchas profesiones desaparecerán. Pero ¿nosotros? A nosotros nos necesitarán más que nunca, somos quienes crean tecnología y quienes hacemos que esta funcione.
  </p>
  <p>
    Habrá quien diga que ya tenemos Inteligencia Artificial programando: efectivamente, ya tenemos IA programando… ¡Y está muy bien! porque nos van a ahorrar un montón de trabajo y tiempo y dejarán que nos ocupemos de las tareas realmente importantes.
  </p>
  <p>
    Además, ¿quién mantiene y crea estas máquinas?
  </p>
  <p>
    Pues eso, nosotros 😊
  </p>
  <p>
    Todo esto y más es Hello, World!, el mejor lugar posible si quieres:
  </p>
  <ol>
    <li>
      Aprender a desarrollar y programar
    </li>
    <li>
      Encontrar trabajo en 10 meses
    </li>
    <li>
      Dedicarte a la profesión con más proyección que existe
    </li>
  </ol>
</div>
<app-footer></app-footer>

